<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>Color Tool</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>CFBundleIdentifier</key>
  <string>color_tool</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleExecutable</key>
  <string>color_tool</string>
</dict>
</plist>
