<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>Image Viewer</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>CFBundleIdentifier</key>
  <string>image_viewer</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleExecutable</key>
  <string>image_viewer</string>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key>
      <string>Quite OK Image</string>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
      <key>LSHandlerRank</key>
      <string>Alternate</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.qoi</string>
      </array>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>Bitmap Image</string>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
      <key>LSHandlerRank</key>
      <string>Alternate</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.bmp</string>
      </array>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>Jpeg Image</string>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
      <key>LSHandlerRank</key>
      <string>Alternate</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.jpeg</string>
      </array>
    </dict>
  </array>
  <key>UTImportedTypeDeclarations</key>
  <array>
    <dict>
      <key>UTTypeIdentifier</key>
      <string>public.qoi</string>
      <key>UTTypeReferenceURL</key>
      <string>https://qoiformat.org/qoi-specification.pdf</string>
      <key>UTTypeDescription</key>
      <string>Quite OK Image</string>
      <key>UTTypeConformsTo</key>
      <array>
          <string>public.image</string>
          <string>public.data</string>
      </array>
      <key>UTTypeTagSpecification</key>
      <dict>
          <key>public.filename-extension</key>
          <array>
              <string>qoi</string>
          </array>
          <key>public.mime-type</key>
          <string>image/qoi</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
